<!DOCTYPE html>
<html>
  <head>
    <title>Book App</title>
    <link href="./styles/style.css" rel="stylesheet">
  </head>
  <body>      
    <h1>Search for Books:</h1>
    <section class="books">
      <p>Total Books: <%= books.length %></p>
      <% books.forEach(book => { %>
        <img src="<%= book.image_url %>">
        <h4> <%=book.title%></h4>
        <p><%= book.author%></p>
      <% }) %>
    </section>
    <script src="../../public/js/app.js"></script>
  </body>
</html>