@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&display=swap');

h1 {
    font-family: 'Cutive Mono';
    font-size: 50px;
    color: #311F1E;
    background: #8C674D;
}

body {
    background-color: #817453;
    color: #311F1E;
}

